<div class="row">
  <div class="col-md-3">
  </div>
  <div class="links text-center panel-footer col-md-6">
    <%= link_to '<i id="github" class="icon fa fa-2x fa-github-square" aria-hidden="true"></i>'.html_safe, "https://github.com/noahmilstein/" %>
    <%= link_to '<i id="linkedin" class="icon fa fa-2x fa-linkedin-square" aria-hidden="true"></i>'.html_safe, "https://www.linkedin.com/in/noah-milstein" %>
    <%= link_to '<i id="stack-overflow" class="icon fa fa-2x fa-stack-overflow" aria-hidden="true"></i>'.html_safe, "http://stackoverflow.com/users/5822806/n-milsht" %>
    <%= link_to '<i id="facebook" class="icon fa fa-2x fa-facebook-square" aria-hidden="true"></i>'.html_safe, "https://www.facebook.com/noah.milstein" %>
    <%= link_to '<i id="instagram" class="icon fa fa-2x fa-instagram" aria-hidden="true"></i>'.html_safe, "https://www.instagram.com/n.milsht/" %>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="login text-center">
  <% if !user_signed_in? %>
    <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
  <% elsif user_signed_in? %>
    <p class="sign_out"><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></p>
  <% end %>
</div>
