<div class="post panel panel-body">
  <div class="row">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date">Created at: <%= post.created_at.strftime("%B, %d, %Y") %></p>
  </div>
  <p>
    Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(", ") %>
  </p>

  <% if user_signed_in? && current_user.email == ENV['ADMIN'] %>
    <p>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
