<div class="container text-center">

<div class="row">
  <% if user_signed_in? && current_user.email == ENV['ADMIN'] %>
  <div class="buttons">
    <button class="button"><%= link_to 'New Post', new_post_path %></button>
  </div>
  <% end %>
</div>

<div class="row">
  <%= form_tag(posts_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>


<div id="tag_cloud">
  <% @tags.each do |tag| %>
    <%= link_to tag.name + " (#{tag.taggings_count})", tag_path(tag.name) %>
  <% end %>
</div>

<div id="posts">
  <div class="page">
    <%= render @posts %>
  </div>
</div>

<br>

<%= paginate @posts %>
</div>
