<div class="container text-center">

  <div class="row toolbar">
    <% if user_signed_in? && current_user.email == ENV['ADMIN'] %>
      <div class="buttons block">
        <button class="button btn btn-default"><%= link_to 'New Post', new_post_path %></button>
      </div>
    <% end %>

    <div>
      <button id="tag_button" class="btn btn-default">Show Tags</button>
    </div>
    <%= form_tag(posts_path, method: :get, class: "block") do %>
      <div class="form-group">
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="panel col-md-3"></div>
    <div id="tag_cloud" class="panel panel-default col-md-6">
      <% @tags.each do |tag| %>
        <%= link_to tag.name + " (#{tag.taggings_count})", tag_path(tag.name) %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div id="posts" class="transitions-enabled">
    <div class="page">
      <%= render @posts %>
    </div>
  </div>

  <br>

  <%= paginate @posts %>

</div>
