<!DOCTYPE html>
<html>
  <head>
    <title>BlogRor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato|Lobster|Raleway|Rokkitt' %>

    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div id="message">
      <div style="padding: 5px;">
        <div id="inner-message" class="alert alert-error">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert") %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>

        <div id="image" class="col-md-6 text-center">
          <%# if current_page?(about_path) %>
            <%# image_tag "about_shot.jpg", id: "profile-photo" %>
          <%# else %>
            <%= image_tag "headshot.jpg", id: "profile-photo" %>
          <%# end %>
          <p>Noah Milstein</p>
          <p>Ahoj hoj, Internet</p>
        </div>

        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center panel" id="header">
          <%= link_to "Home", root_path, id: "home-link", remote: true %> /
          <%= link_to "About", about_path, id: "about-link", remote: true %> /
          <%= link_to "Blog", posts_path, id: "blog-link", remote: true %> /
          <%= link_to "Resume", resume_path, id: "resume-link", remote: true %> /
          <a href="http://www.bostonstrengthcoach.com/">S&C Coaching</a> /
          <%= link_to "Contact Me", contact_path, id: "contact-link", remote: true %>
        </div>

        <div class="col-md-3">
        </div>
      </div>

      <div id="app-wrapper">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
