<!DOCTYPE html>
<html>
  <head>
    <title>Noah Milstein</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato|Lobster|Raleway|Rokkitt' %>

    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="image" class="col-md-12 text-center">
          <%= image_tag "headshot.jpg", id: "profile-photo" %>
          <div id="subImg">
            <p>Noah Milstein</p>
            <p>Ahoj hoj, Internet</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center panel" id="header">
          <%= link_to "Home", root_path, id: "home-link" %> /
          <%= link_to "About", about_path, id: "about-link" %> /
          <%= link_to "Blog", posts_path, id: "blog-link" %> /
          <%= link_to "Resume", resume_path, id: "resume-link" %> /
          <a href="http://www.bostonstrengthcoach.com/">S&C Coaching</a> /
          <%= link_to "Contact Me", new_contact_path, id: "contact-link" %>
          <%# link_to "Contact Me", contact_path, id: "contact-link" %>
        </div>
      </div>

      <div style="padding: 5px;" id="message">
        <div id="inner-message" class="alert alert-error">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert") %>
          <% end %>
        </div>
      </div>

      <div id="app-wrapper" data-pjax-container>
        <%= yield %>
      </div>

    </div>

  </body>
</html>
